@page "/"
@using Wepshop.Classes
@inject HttpClient _http

<h1>El Niño Vegano Shoppo</h1>
<input @bind-value="_param" @bind-value:event="oninput" @onkeyup="Search"/>
<button class="btn btn-outline-success" @onclick="Search">Søg</button>
<hr/>
@if (_products == null || _products.Count < 1)
{
    <h3>
        <em>No products were found ...</em>
    </h3>
}
else if (_products != null || _products.Count <= 1)
{
    <div class="card-deck">
        @foreach (var prod in _products)
        {
            <ProductCard Prod="@prod"></ProductCard>
        }
    </div>
}

@code {

    private List<ProductDTO> _products;
    private string _param;

    [CascadingParameter]
    protected MainLayout MainLayout { get; set; }

    private void Search()
    {
        _products = MainLayout.Products
            .Where(p => p.Name.ToLower().Contains(_param.ToLower())
                        || p.Vendor.ToLower().Contains(_param.ToLower())
                        || p.Category.ToLower().Contains(_param.ToLower()))
            .ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        _products = await _http.GetFromJsonAsync<List<ProductDTO>>($"/Shop/Products?search={_param}");
        MainLayout.Products = _products;
    }
}