@using Wepshop.Classes
@using System.Timers
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <div class="main">
        <div class="top-row px-4">
            <a href="cart" class="ml-md-auto @_colour">
                @CartAmount <i class="oi oi-basket"></i>
            </a>
        </div>

        <div class="content px-4">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
        <div id="toaster" class="@_hideNseek">@_item @_msg</div>
    </div>
</div>

@code
{
    public List<CartOrderItems> CartItems { get; set; } = new();
    public List<ProductDTO> Products { get; set; } = new();
    private int CartAmount { get; set; }
    private Timer _timer { get; } = new(3000); // Time the toaster is visible
    
    // Styling ish fields. 
    // _colour sets the background colour of the basket icon in upper right corner
    // _hideNseek is controlling the class of the toaster DIV and _item is the current item in the toaster
    private string _hideNseek { get; set; } = ""; // class for the toaster is blank until the method is called
    private string _item { get; set; } = "Defaulting to default value"; // if no text is sent to the toaster
    private string _msg { get; set; } = "er tilføjet til kurven :)"; // default value
    private string _colour { get; set; } = "btn btn-warning";
    
    public void AddToCart(int id)
    {
        if (CartItems.FirstOrDefault(c => c._ProductID == id) != null)
        {
            CartOrderItems cartItem = CartItems.First(c => c._ProductID == id);
            cartItem._Amount++;
            cartItem._LinePrice = Products.Find(p => p.Id == id).Price * cartItem._Amount;
        }
        else
        {
            CartItems.Add(new CartOrderItems
            {
                _ProductID = id,
                _LinePrice = Products.First(p => p.Id == id).Price,
                _Amount = 1
            });
        }
        CartAmount = CartItems.Sum(a => a._Amount);
        ShopPop(Products.FirstOrDefault(p => p.Id == id)?.Name);
        _colour = "btn btn-success";
    }

    public void AddAmount(int id)
    {
        CartOrderItems cartItem = CartItems.FirstOrDefault(c => c._ProductID == id);
        if (cartItem != null)
        {
            cartItem._Amount++;
            cartItem._LinePrice = Products.Find(p => p.Id == id).Price * cartItem._Amount;
        }
        CartAmount = CartItems.Sum(a => a._Amount);
        _colour = "btn btn-success";
    }

    public void SubAmount(int id)
    {
        CartOrderItems cartItem = CartItems.FirstOrDefault(c => c._ProductID == id);
        if (cartItem != null && cartItem._Amount == 1)
        {
            RemoveAmount(id);
        }
        else
        {
            if (cartItem != null)
            {
                cartItem._Amount--;
                cartItem._LinePrice = Products.Find(p => p.Id == id).Price * cartItem._Amount;
            }
        }
        CartAmount = CartItems.Sum(a => a._Amount);
        if (CartAmount < 1)
        {
            _colour = "btn btn-warning";
        }
    }

    public void RemoveAmount(int id)
    {
        var temp = CartItems.FirstOrDefault(c => c._ProductID == id);
        CartItems.Remove(temp);
        CartAmount = CartItems.Sum(a => a._Amount);
        if (CartAmount < 1)
        {
            _colour = "btn btn-warning";
        }
    }

    public void ClearBasket()
    {
        CartItems.Clear();
        CartAmount = 0;
        _colour = "btn btn-warning";
    }
    
    // Parameter p is the product name (or other string) that the toaster is supposed to show
    private void ShopPop(string p)
    {
        _item = p;
        _hideNseek = "show";
        _timer.Elapsed += OnTimer;
        _timer.Enabled = true;
    }
    
    // When the timer lapses, the class variable is set to not-show (or any other thing other than show) and the timer stops
    private void OnTimer(object source, ElapsedEventArgs e)
    {
        _hideNseek = "I TOLD YOU SO!";
        StateHasChanged();
        _timer.Enabled = false;
    }
}